body{
    background-color: #ffcdb2;
}


.bg-image{
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 h1{
    font-family: 'Gwendolyn', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Slabo 27px', serif;


}

